*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container{
    width: 100vw;
    height: 100vh;
    background-color: #B990F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    border: 5px solid #47FFFE;
    background-color: #FFF9A7;
    border-radius: 5px;
}